/*------------------------------------*\
    LAYOUT/PAGE.SCSS
\*------------------------------------*/

.wrapper {
    width: 100%;
}

.wrapper--site-header {
    @extend .wrapper;
    background-color: $red;
}

.wrapper--site-footer {
    @extend .wrapper;
    background-color: $off-white;
    border-top: 1px solid $steel-light;
}

.page-constrained {
    margin: 0 auto;    
    padding: $gutter-std;
    max-width: $site-max-width;
}

/**
 * Site areas
 */

.site-header {
    @extend .page-constrained;
    @extend .cf;
    padding-bottom: 3*$gutter-std;
}

.site-content {
    @extend .page-constrained;
    @extend .cf;
    position: relative;
    top: -2*$gutter-std;
    background-color: $tan;
}

.site-footer {
    @extend .page-constrained;
}

/**
 * Columns
 */

.column {
    width: 50%;
    float: left;
    padding-top: $gutter-std;
    @include breakpoint(mob){
        width: 100%;
    }
}

.column-left {
    @extend .column;
}

.column-right {
    @extend .column;
    padding-left: $gutter-std;
    @include breakpoint(mob) {
        margin-top: $gutter-std;
        padding-left: 0;
    }
}
