/*------------------------------------*\
    MODULE/COPY.SCSS
\*------------------------------------*/

.copy {
    p {
        @extend .copy-p;
    }
    blockquote {
        @extend .copy-blockquote;
    }
    h1 { @extend .font-size-header-page;}
    h2 { @extend .font-size-header-sub;}
    h3 { @extend .font-size-header-small;}
    h4 { @extend .font-size-header;}
    h5 { @extend .font-size-header;}
    h6 { @extend .font-size-header;}
}

.copy-blockquote {
    margin: 0;
    padding: $gutter-med $gutter-sml $gutter-sml $gutter-sml;
    @extend .font-body;
    @extend .font-size-blockquote;
    font-style: italic;
}

.copy-p {
    margin: 0;
    padding: 0 0 $gutter-sml 0;
    line-height: 1.8em;
}