/*------------------------------------*\
    MODULE/FOOTER.SCSS
\*------------------------------------*/

.footer__head {
    padding-bottom: $gutter-std;
    border-bottom: 1px solid $steel-light;
}

.footer__body {
    padding-top: $gutter-std;
}

