/*------------------------------------*\
    MODULE/LOGO.SCSS
\*------------------------------------*/

.logo {

}

.logo-header {
    float: left;
    @include breakpoint(mob){
        width: 15%; 
    }
}

.logo-footer {
    float: left;  
}

