/*------------------------------------*\
  MODULE/NEWS-FLASH.SCSS
\*------------------------------------*/

.news-flash {
  margin-bottom: $gutter-med; 
  padding: $gutter-med;
  background: $off-white;
}

.news-flash__header {
  @extend .header--black-block;
}

.news-flash__title {
  @extend .font-heading;  
  @extend .font-size-header-link;
  text-decoration: none;
  padding: $gutter-med 0 0 0;
  display: block;
  color: $grey;
}

.news-flash__read-more {
  @extend .font-heading;  
  color: $grey;
}


