/*------------------------------------*\
    MODULE/PEOPLE.SCSS
\*------------------------------------*/

.people-page__header {
  @extend .page-title;
  p {
    margin-top: 0;
    @extend .font-size-header-link;
    a {
      display: inline-block;
      padding-right: $gutter-sml;
    }
  }
}

.people-section {
  margin: $gutter-med 0;
  border-bottom: thin dashed $grey;
}

.people-list {
  margin: $gutter-lrg $gutter-lrg*2;
}

.people-single {
  @extend .cf;
  margin-bottom: $gutter-med;
}

.people-single__image {
  float: left;
  display: block;

  background-size: cover;
  border-radius: 50%;

  width: 12%;
  height: 100px;

  margin: 0 $gutter-med $gutter-med 0;
}

.people-right {
  float: left;
  width: 85%;
}
