/*------------------------------------*\
    MODULE/PHOTO-GRID.SCSS
\*------------------------------------*/

.photo-grid {
  background-color: $off-white;
  padding: $gutter-med;
  .afg-row {
    @extend .cf;
  }
  .afg-cell {
    float: left;
    text-align: center;
    img {
      width: 210px;
    }
  }
}
