/*------------------------------------*\
    MODULE/SHOW.SCSS
\*------------------------------------*/

.show-head {
    @extend .cf;
    .show-head-left, .show-head-right {
        float: left;
    }
    .show-head-left {
        width: 30%;
        padding-right: 20px;
    }
    .show-head-right {
        width: 70%;
    }
}

.show-body {
    padding-top: $gutter-med;
    @extend .cf;
    .show-body-left, .show-body-right {
        float: left;
    }
    .show-body-left {
        width: 50%;
        padding-right: 20px;
    }
    .show-body-right {
        width: 50%;
    }
}

.tribe-events-ajax-loading {
    display: none;
}

.show-title {
    @extend .copy;
    h1, h2, h3, h4, h5, h6 {
        @extend .font-heading;
        @extend .header--black-block;
        padding-bottom: $gutter-sml;
    }
}
.show-image {
    width: 100%;
}

.show-dates {
    @extend .header--black-block;
    @extend .font-size-date;
    border-top: thin $black solid;
    border-bottom: thin $black solid;
    padding: $gutter-sml 0;
}

.show-stars {
    color: $clr-primary;
    margin: 0;
    padding: $gutter-sml 0 0 0;
    @extend .font-size-stars;
}

.show-review {
    padding-top: $gutter-sml;
    @extend .font-heading;
    p {
        margin: 0; padding: 0;
    }
    blockquote {
        @extend .copy-blockquote;
    }
}

.show-text {
    @extend .copy;
}

.show-ticketshop-link {
    a {
        display: block;
        text-align: center;
        @extend .header--white-block;
        @extend .font-size-button;
        text-decoration: none;
        padding: $gutter-med;
        background-color: $clr-primary;
    }
}

.show-thumbnails {
    @extend .cf;
    padding: $gutter-med 0;
    a {
        display: block;
        float: left;
        width: 32%;
        margin-left: 2%;
        img {
            background: $white;
            padding: 5px;
            width: 100%;
        }
    }
    a:first-child {
        margin-left: 0;
    }
}

