/*------------------------------------*\
    IRIS THEATRE
\*------------------------------------*/
/**
 * The SCSS in this project is written in an Object Orientated manner (OOCSS),
 * https://github.com/stubbornella/oocss/wiki and follows some Scalable and
 * Modular Architecture for CSS (SMACSS) principles.
 */
/*------------------------------------*\
    $CONTENTS
\*------------------------------------*/
/**
 *
 * The stylesheet is laid out into roughly five rule sets:
 * 1 - Base rules
 * 2 - Layout rules
 * 3 - Module rules
 *
 */
/*------------------------------------*\
    BASE/BASE.SCSS
\*------------------------------------*/
/*------------------------------------*\
    BASE/VARS
\*------------------------------------*/
/**
 * SETTINGS
 */
/**
 * Colour Variables
 */
/**
 * Size Variables
 */
/**
 * Font Variables
 */
/**
 * Spacing Variables
 */
/*------------------------------------*\
    BASE/RESET.SCSS
\*------------------------------------*/
/**
 * A custom normalized reset. Thanks to Nicolas Gallagher.
 *
 * Customisations include:
 * ul, li 
 * h1, h2, h3, h4, h5, h6
 */
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 34, ../scss/base/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 45, ../scss/base/_reset.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 54, ../scss/base/_reset.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 65, ../scss/base/_reset.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 79, ../scss/base/_reset.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 89, ../scss/base/_reset.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 101, ../scss/base/_reset.scss */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 110, ../scss/base/_reset.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 123, ../scss/base/_reset.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 132, ../scss/base/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 141, ../scss/base/_reset.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 149, ../scss/base/_reset.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 157, ../scss/base/_reset.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 167, ../scss/base/_reset.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 179, ../scss/base/_reset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 188, ../scss/base/_reset.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 196, ../scss/base/_reset.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 204, ../scss/base/_reset.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 213, ../scss/base/_reset.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 220, ../scss/base/_reset.scss */
sup {
  top: -0.5em;
}

/* line 224, ../scss/base/_reset.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 236, ../scss/base/_reset.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 244, ../scss/base/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 256, ../scss/base/_reset.scss */
figure {
  margin: 1em 40px;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * 1. Define consistent border, margin, and padding.
 * 2. Address width being affected by wide descendants in Chrome and Firefox.
 */
/* line 269, ../scss/base/_reset.scss */
fieldset {
  border: 1px solid #c0c0c0;
  /* 1 */
  margin: 0 2px;
  /* 1 */
  min-width: 0;
  /* 2 */
  padding: 0.35em 0.625em 0.75em;
  /* 1 */
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 281, ../scss/base/_reset.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct color not being inherited in all browsers.
 *    Known issue: `select` will not inherit color in Chrome and Safari on OS X.
 * 2. Correct font properties not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 297, ../scss/base/_reset.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Re-apply the `font-weight` to avoid modifying the default UX, and because
 * the default cannot be changed in Chrome and Safari on OS X.
 */
/* line 308, ../scss/base/_reset.scss */
optgroup {
  font-weight: bold;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 318, ../scss/base/_reset.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 330, ../scss/base/_reset.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 345, ../scss/base/_reset.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 355, ../scss/base/_reset.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 365, ../scss/base/_reset.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 376, ../scss/base/_reset.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 389, ../scss/base/_reset.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 398, ../scss/base/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 408, ../scss/base/_reset.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 421, ../scss/base/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 427, ../scss/base/_reset.scss */
td,
th {
  padding: 0;
}

/*------------------------------------*\
    CUSTOMISATIONS
\*------------------------------------*/
/* line 436, ../scss/base/_reset.scss */
ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 442, ../scss/base/_reset.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

/* line 447, ../scss/base/_reset.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 454, ../scss/base/_reset.scss */
body {
  overflow-x: hidden;
}

/* line 458, ../scss/base/_reset.scss */
body {
  color: #333333;
}

/*------------------------------------*\
    BASE/MIXINS
\*------------------------------------*/
/**
 * Media Query Mixin
 */
/**
 * Responsive Text Mixin
 */
/*------------------------------------*\
    BASE/TYPOGRAPHY.SCSS
\*------------------------------------*/
/**
 * FONTS
 */
/* line 9, ../scss/base/_typography.scss */
.font-heading, .header--block, .header--white-block, .hero__caption, .tile__caption, .nav-main ul li a, .nav-main--menu ul li a, .nav-main--footer ul li a, .nav-main--hamburger ul li a, .show-ticketshop-link a, .header--black-block, .page-title, .whats-on-title, .past-work__title, .tickets__title, .news-page__header, .people-page__header, .cal-bar__item, .cal-bar__month, .cal-bar__date, .whats-on-widget__header, .twitter-link a, .show-twitter-link a, .month-view th, .show-title h1, .show-title h2, .show-title h3, .show-title h4, .show-title h5, .show-title h6, .show-dates, .whats-on-detail, .past-work-year__title, .jobs-page__header, .jobs__rate, .jobs__dates, .news-flash__header, .news-item-meta, .show-review, .news-item__header, .news-item__read-more {
  font-family: 'Montserrat', Arial, sans;
  font-weight: 400;
}

/* line 14, ../scss/base/_typography.scss */
.font-body, body, .copy-blockquote, .copy blockquote, .show-title blockquote, .show-text blockquote, .whats-on-detail blockquote, .show-review blockquote {
  font-family: 'Open Sans', Arial, sans;
  font-weight: 300;
}

/**
 * FONT-SIZES
 */
/* line 30, ../scss/base/_typography.scss */
.font-size-header-page, .page-title, .whats-on-title, .past-work__title, .tickets__title, .news-page__header, .people-page__header, .copy h1, .show-title h1, .show-text h1, .whats-on-detail h1 {
  font-size: 44.8px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 30, ../scss/base/_typography.scss */
  .font-size-header-page, .page-title, .whats-on-title, .past-work__title, .tickets__title, .news-page__header, .people-page__header, .copy h1, .show-title h1, .show-text h1, .whats-on-detail h1 {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 30, ../scss/base/_typography.scss */
  .font-size-header-page, .page-title, .whats-on-title, .past-work__title, .tickets__title, .news-page__header, .people-page__header, .copy h1, .show-title h1, .show-text h1, .whats-on-detail h1 {
    font-size: 17.6px;
  }
}

/* line 31, ../scss/base/_typography.scss */
.font-size-header, .copy h4, .show-title h4, .show-text h4, .whats-on-detail h4, .copy h5, .show-title h5, .show-text h5, .whats-on-detail h5, .copy h6, .show-title h6, .show-text h6, .whats-on-detail h6, .past-work-year__title {
  font-size: 32px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 31, ../scss/base/_typography.scss */
  .font-size-header, .copy h4, .show-title h4, .show-text h4, .whats-on-detail h4, .copy h5, .show-title h5, .show-text h5, .whats-on-detail h5, .copy h6, .show-title h6, .show-text h6, .whats-on-detail h6, .past-work-year__title {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 31, ../scss/base/_typography.scss */
  .font-size-header, .copy h4, .show-title h4, .show-text h4, .whats-on-detail h4, .copy h5, .show-title h5, .show-text h5, .whats-on-detail h5, .copy h6, .show-title h6, .show-text h6, .whats-on-detail h6, .past-work-year__title {
    font-size: 14.4px;
  }
}

/* line 32, ../scss/base/_typography.scss */
.font-size-header-sub, .hero__caption, .tile__caption, .copy h2, .show-title h2, .show-text h2, .whats-on-detail h2, .news-item-meta {
  font-size: 24.96px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 32, ../scss/base/_typography.scss */
  .font-size-header-sub, .hero__caption, .tile__caption, .copy h2, .show-title h2, .show-text h2, .whats-on-detail h2, .news-item-meta {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 32, ../scss/base/_typography.scss */
  .font-size-header-sub, .hero__caption, .tile__caption, .copy h2, .show-title h2, .show-text h2, .whats-on-detail h2, .news-item-meta {
    font-size: 14.4px;
  }
}

/* line 33, ../scss/base/_typography.scss */
.font-size-header-link, .tile__hidden, .news-item__header, .people-page__header p {
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 33, ../scss/base/_typography.scss */
  .font-size-header-link, .tile__hidden, .news-item__header, .people-page__header p {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 33, ../scss/base/_typography.scss */
  .font-size-header-link, .tile__hidden, .news-item__header, .people-page__header p {
    font-size: 14.4px;
  }
}

/* line 34, ../scss/base/_typography.scss */
.font-size-header-small, .copy h3, .show-title h3, .show-text h3, .whats-on-detail h3 {
  font-size: 28.8px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 34, ../scss/base/_typography.scss */
  .font-size-header-small, .copy h3, .show-title h3, .show-text h3, .whats-on-detail h3 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 34, ../scss/base/_typography.scss */
  .font-size-header-small, .copy h3, .show-title h3, .show-text h3, .whats-on-detail h3 {
    font-size: 14.4px;
  }
}

/* line 36, ../scss/base/_typography.scss */
.font-size-nav, .nav-main ul li a, .nav-main--menu ul li a, .nav-main--footer ul li a, .nav-main--hamburger ul li a {
  font-size: 17.6px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 36, ../scss/base/_typography.scss */
  .font-size-nav, .nav-main ul li a, .nav-main--menu ul li a, .nav-main--footer ul li a, .nav-main--hamburger ul li a {
    font-size: 14.4px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 36, ../scss/base/_typography.scss */
  .font-size-nav, .nav-main ul li a, .nav-main--menu ul li a, .nav-main--footer ul li a, .nav-main--hamburger ul li a {
    font-size: 12.8px;
  }
}

/* line 38, ../scss/base/_typography.scss */
.font-size-p, .footer-newsletter input[type="submit"], .jobs__rate, .jobs__dates {
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 38, ../scss/base/_typography.scss */
  .font-size-p, .footer-newsletter input[type="submit"], .jobs__rate, .jobs__dates {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 38, ../scss/base/_typography.scss */
  .font-size-p, .footer-newsletter input[type="submit"], .jobs__rate, .jobs__dates {
    font-size: 12.8px;
  }
}

/* line 39, ../scss/base/_typography.scss */
.font-size-small, .footer-newsletter .sml_emaillabel, .month-view th {
  font-size: 11.2px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 39, ../scss/base/_typography.scss */
  .font-size-small, .footer-newsletter .sml_emaillabel, .month-view th {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 39, ../scss/base/_typography.scss */
  .font-size-small, .footer-newsletter .sml_emaillabel, .month-view th {
    font-size: 12.8px;
  }
}

/* line 41, ../scss/base/_typography.scss */
.font-size-blockquote, .copy-blockquote, .copy blockquote, .show-title blockquote, .show-text blockquote, .whats-on-detail blockquote, .show-review blockquote, .footer-strapline, .footer-social {
  font-size: 22.4px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 41, ../scss/base/_typography.scss */
  .font-size-blockquote, .copy-blockquote, .copy blockquote, .show-title blockquote, .show-text blockquote, .whats-on-detail blockquote, .show-review blockquote, .footer-strapline, .footer-social {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 41, ../scss/base/_typography.scss */
  .font-size-blockquote, .copy-blockquote, .copy blockquote, .show-title blockquote, .show-text blockquote, .whats-on-detail blockquote, .show-review blockquote, .footer-strapline, .footer-social {
    font-size: 17.6px;
  }
}

/* line 42, ../scss/base/_typography.scss */
.font-size-button, .twitter-link, .show-twitter-link, .show-ticketshop-link a {
  font-size: 22.4px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 42, ../scss/base/_typography.scss */
  .font-size-button, .twitter-link, .show-twitter-link, .show-ticketshop-link a {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 42, ../scss/base/_typography.scss */
  .font-size-button, .twitter-link, .show-twitter-link, .show-ticketshop-link a {
    font-size: 17.6px;
  }
}

/* line 44, ../scss/base/_typography.scss */
.font-size-date, .show-dates {
  font-size: 17.6px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 44, ../scss/base/_typography.scss */
  .font-size-date, .show-dates {
    font-size: 16px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 44, ../scss/base/_typography.scss */
  .font-size-date, .show-dates {
    font-size: 14.4px;
  }
}

/* line 45, ../scss/base/_typography.scss */
.font-size-stars, .show-stars {
  font-size: 32px;
}
@media only screen and (min-width: 768px) and (max-width: 990px) {
  /* line 45, ../scss/base/_typography.scss */
  .font-size-stars, .show-stars {
    font-size: 32px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 45, ../scss/base/_typography.scss */
  .font-size-stars, .show-stars {
    font-size: 17.6px;
  }
}

/**
 * HEADERS
 */
/* line 52, ../scss/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-style: normal;
}

/* line 59, ../scss/base/_typography.scss */
.header--block, .header--white-block, .hero__caption, .tile__caption, .nav-main ul li a, .nav-main--menu ul li a, .nav-main--footer ul li a, .nav-main--hamburger ul li a, .show-ticketshop-link a, .header--black-block, .page-title, .whats-on-title, .past-work__title, .tickets__title, .news-page__header, .people-page__header, .cal-bar__item, .cal-bar__month, .cal-bar__date, .whats-on-widget__header, .twitter-link a, .show-twitter-link a, .month-view th, .show-title h1, .show-title h2, .show-title h3, .show-title h4, .show-title h5, .show-title h6, .show-dates, .whats-on-detail, .past-work-year__title, .jobs-page__header, .jobs__rate, .jobs__dates, .news-flash__header, .news-item-meta {
  text-transform: uppercase;
}

/* line 64, ../scss/base/_typography.scss */
.header--white-block, .hero__caption, .tile__caption, .nav-main ul li a, .nav-main--menu ul li a, .nav-main--footer ul li a, .nav-main--hamburger ul li a, .show-ticketshop-link a {
  color: white;
}

/* line 69, ../scss/base/_typography.scss */
.header--black-block, .page-title, .whats-on-title, .past-work__title, .tickets__title, .news-page__header, .people-page__header, .cal-bar__item, .cal-bar__month, .cal-bar__date, .whats-on-widget__header, .twitter-link a, .show-twitter-link a, .month-view th, .show-title h1, .show-title h2, .show-title h3, .show-title h4, .show-title h5, .show-title h6, .show-dates, .whats-on-detail, .past-work-year__title, .jobs-page__header, .jobs__rate, .jobs__dates, .news-flash__header, .news-item-meta {
  color: #252525;
}

/**
 * ANCHORS
 */
/* line 77, ../scss/base/_typography.scss */
a {
  color: #252525;
  text-decoration: underline;
}
/* line 80, ../scss/base/_typography.scss */
a:hover {
  color: #111111;
}

/*------------------------------------*\
    BASE/ELEMENTS.SCSS
\*------------------------------------*/
/* line 5, ../scss/base/_elements.scss */
body {
  background-color: #e0ded3;
  font-size: 16px;
}

/* line 10, ../scss/base/_elements.scss */
hr {
  margin: 0;
  border: 0;
  width: 100%;
  height: 1px;
  color: #7f8c8d;
  background-color: #b5bcbc;
}
@media only screen and (max-width: 767px) {
  /* line 10, ../scss/base/_elements.scss */
  hr {
    display: none;
  }
}

/* line 20, ../scss/base/_elements.scss */
.hidden, .tile__hidden {
  display: none;
}

/* line 24, ../scss/base/_elements.scss */
.stars--show {
  display: inline-block;
  padding-left: 3px;
}

/* line 29, ../scss/base/_elements.scss */
.page-title, .whats-on-title, .past-work__title, .tickets__title, .news-page__header, .people-page__header {
  color: #333333;
  margin-bototm: 36px;
}

/*------------------------------------*\
    BASE/EXTENDS.SCSS
\*------------------------------------*/
/**
 * Clear Fix
 * thanks to: nicolasgallagher.com
 */
/* line 11, ../scss/base/_extends.scss */
.cf:before, .site-header:before, .site-content:before, .tile-wrapper:before, .more-shows:before, .past-work-shows:before, .tile:before, .cal-bar:before, .photo-grid .afg-row:before, .footer-head:before, .footer-body:before, .footer-newsletter .sml_subscribe:before, .show-head:before, .show-body:before, .show-thumbnails:before, .whats-on-list:before, .people-single:before,
.cf:after,
.site-header:after,
.site-content:after,
.tile-wrapper:after,
.more-shows:after,
.past-work-shows:after,
.tile:after,
.cal-bar:after,
.photo-grid .afg-row:after,
.footer-head:after,
.footer-body:after,
.footer-newsletter .sml_subscribe:after,
.show-head:after,
.show-body:after,
.show-thumbnails:after,
.whats-on-list:after,
.people-single:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 16, ../scss/base/_extends.scss */
.cf:after, .site-header:after, .site-content:after, .tile-wrapper:after, .more-shows:after, .past-work-shows:after, .tile:after, .cal-bar:after, .photo-grid .afg-row:after, .footer-head:after, .footer-body:after, .footer-newsletter .sml_subscribe:after, .show-head:after, .show-body:after, .show-thumbnails:after, .whats-on-list:after, .people-single:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 24, ../scss/base/_extends.scss */
.cf, .site-header, .site-content, .tile-wrapper, .more-shows, .past-work-shows, .tile, .cal-bar, .photo-grid .afg-row, .footer-head, .footer-body, .footer-newsletter .sml_subscribe, .show-head, .show-body, .show-thumbnails, .whats-on-list, .people-single {
  *zoom: 1;
}

/**
 * Animation
 */
/* line 31, ../scss/base/_extends.scss */
.transition-color, .footer-social a:hover img {
  transition: color 0.1s ease-out;
}

/* line 35, ../scss/base/_extends.scss */
.hidden, .tile__hidden {
  display: none;
}

/*------------------------------------*\
    IMPORT/IMPORT.SCSS
\*------------------------------------*/
/*
 * qTip2 - Pretty powerful tooltips - v2.2.1
 * http://qtip2.com
 *
 * Copyright (c) 2014 
 * Released under the MIT licenses
 * http://jquery.org/license
 *
 * Date: Sat Sep 6 2014 06:06 EDT-0400
 * Plugins: None
 * Styles: core basic css3
 */
/* line 13, ../scss/import/_qtip.scss */
.qtip {
  position: absolute;
  left: -28000px;
  top: -28000px;
  display: none;
  max-width: 280px;
  min-width: 50px;
  font-size: 10.5px;
  line-height: 12px;
  direction: ltr;
  box-shadow: none;
  padding: 0;
}

/* line 31, ../scss/import/_qtip.scss */
.qtip-content {
  position: relative;
  padding: 5px 9px;
  overflow: hidden;
  text-align: left;
  word-wrap: break-word;
}

/* line 40, ../scss/import/_qtip.scss */
.qtip-titlebar {
  position: relative;
  padding: 5px 35px 5px 10px;
  overflow: hidden;
  border-width: 0 0 1px;
  font-weight: bold;
}

/* line 49, ../scss/import/_qtip.scss */
.qtip-titlebar + .qtip-content {
  border-top-width: 0 !important;
}

/* Default close button class */
/* line 52, ../scss/import/_qtip.scss */
.qtip-close {
  position: absolute;
  right: -9px;
  top: -9px;
  z-index: 11;
  /* Overlap .qtip-tip */
  cursor: pointer;
  outline: medium none;
  border: 1px solid transparent;
}

/* line 63, ../scss/import/_qtip.scss */
.qtip-titlebar .qtip-close {
  right: 4px;
  top: 50%;
  margin-top: -9px;
}

/* line 68, ../scss/import/_qtip.scss */
* html .qtip-titlebar .qtip-close {
  top: 16px;
}

/* IE fix */
/* line 71, ../scss/import/_qtip.scss */
.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon {
  display: block;
  text-indent: -1000em;
  direction: ltr;
}

/* line 77, ../scss/import/_qtip.scss */
.qtip-icon, .qtip-icon .ui-icon {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-decoration: none;
}

/* line 84, ../scss/import/_qtip.scss */
.qtip-icon .ui-icon {
  width: 18px;
  height: 14px;
  line-height: 14px;
  text-align: center;
  text-indent: 0;
  font: normal bold 10px/13px Tahoma,sans-serif;
  color: inherit;
  background: transparent none no-repeat -100em -100em;
}

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
/* Default tooltip style */
/* line 104, ../scss/import/_qtip.scss */
.qtip-default {
  border: 1px solid #F1D031;
  background-color: #FFFFA3;
  color: #555;
}

/* line 111, ../scss/import/_qtip.scss */
.qtip-default .qtip-titlebar {
  background-color: #FFEF93;
}

/* line 115, ../scss/import/_qtip.scss */
.qtip-default .qtip-icon {
  border-color: #CCC;
  background: #F1F1F1;
  color: #777;
}

/* line 121, ../scss/import/_qtip.scss */
.qtip-default .qtip-titlebar .qtip-close {
  border-color: #AAA;
  color: #111;
}

/*! Light tooltip style */
/* line 128, ../scss/import/_qtip.scss */
.qtip-light {
  background-color: white;
  border-color: #E2E2E2;
  color: #454545;
}

/* line 134, ../scss/import/_qtip.scss */
.qtip-light .qtip-titlebar {
  background-color: #f1f1f1;
}

/*! Dark tooltip style */
/* line 140, ../scss/import/_qtip.scss */
.qtip-dark {
  background-color: #505050;
  border-color: #303030;
  color: #f3f3f3;
}

/* line 146, ../scss/import/_qtip.scss */
.qtip-dark .qtip-titlebar {
  background-color: #404040;
}

/* line 150, ../scss/import/_qtip.scss */
.qtip-dark .qtip-icon {
  border-color: #444;
}

/* line 154, ../scss/import/_qtip.scss */
.qtip-dark .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}

/*! Cream tooltip style */
/* line 160, ../scss/import/_qtip.scss */
.qtip-cream {
  background-color: #FBF7AA;
  border-color: #F9E98E;
  color: #A27D35;
}

/* line 166, ../scss/import/_qtip.scss */
.qtip-cream .qtip-titlebar {
  background-color: #F0DE7D;
}

/* line 170, ../scss/import/_qtip.scss */
.qtip-cream .qtip-close .qtip-icon {
  background-position: -82px 0;
}

/*! Red tooltip style */
/* line 176, ../scss/import/_qtip.scss */
.qtip-red {
  background-color: #F78B83;
  border-color: #D95252;
  color: #912323;
}

/* line 182, ../scss/import/_qtip.scss */
.qtip-red .qtip-titlebar {
  background-color: #F06D65;
}

/* line 186, ../scss/import/_qtip.scss */
.qtip-red .qtip-close .qtip-icon {
  background-position: -102px 0;
}

/* line 190, ../scss/import/_qtip.scss */
.qtip-red .qtip-icon {
  border-color: #D95252;
}

/* line 194, ../scss/import/_qtip.scss */
.qtip-red .qtip-titlebar .ui-state-hover {
  border-color: #D95252;
}

/*! Green tooltip style */
/* line 200, ../scss/import/_qtip.scss */
.qtip-green {
  background-color: #CAED9E;
  border-color: #90D93F;
  color: #3F6219;
}

/* line 206, ../scss/import/_qtip.scss */
.qtip-green .qtip-titlebar {
  background-color: #B0DE78;
}

/* line 210, ../scss/import/_qtip.scss */
.qtip-green .qtip-close .qtip-icon {
  background-position: -42px 0;
}

/*! Blue tooltip style */
/* line 216, ../scss/import/_qtip.scss */
.qtip-blue {
  background-color: #E5F6FE;
  border-color: #ADD9ED;
  color: #5E99BD;
}

/* line 222, ../scss/import/_qtip.scss */
.qtip-blue .qtip-titlebar {
  background-color: #D0E9F5;
}

/* line 226, ../scss/import/_qtip.scss */
.qtip-blue .qtip-close .qtip-icon {
  background-position: -2px 0;
}

/* line 231, ../scss/import/_qtip.scss */
.qtip-shadow {
  -webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
/* line 240, ../scss/import/_qtip.scss */
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 246, ../scss/import/_qtip.scss */
.qtip-rounded .qtip-titlebar {
  -moz-border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

/* Youtube tooltip style */
/* line 253, ../scss/import/_qtip.scss */
.qtip-youtube {
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 3px #333;
  -moz-box-shadow: 0 0 3px #333;
  box-shadow: 0 0 3px #333;
  color: white;
  border: 0 solid transparent;
  background: #4A4A4A;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4a4a4a), color-stop(100%, black));
  background-image: -webkit-linear-gradient(top, #4a4a4a 0, black 100%);
  background-image: -moz-linear-gradient(top, #4a4a4a 0, black 100%);
  background-image: -ms-linear-gradient(top, #4a4a4a 0, black 100%);
  background-image: -o-linear-gradient(top, #4a4a4a 0, black 100%);
}

/* line 273, ../scss/import/_qtip.scss */
.qtip-youtube .qtip-titlebar {
  background-color: #4A4A4A;
  background-color: rgba(0, 0, 0, 0);
}

/* line 278, ../scss/import/_qtip.scss */
.qtip-youtube .qtip-content {
  padding: .75em;
  font: 12px arial,sans-serif;
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#4a4a4a,EndColorStr=#000000);";
}

/* line 286, ../scss/import/_qtip.scss */
.qtip-youtube .qtip-icon {
  border-color: #222;
}

/* line 290, ../scss/import/_qtip.scss */
.qtip-youtube .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* jQuery TOOLS Tooltip style */
/* line 296, ../scss/import/_qtip.scss */
.qtip-jtools {
  background: #232323;
  background: rgba(0, 0, 0, 0.7);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#717171), to(#232323));
  background-image: -moz-linear-gradient(top, #717171, #232323);
  background-image: -webkit-linear-gradient(top, #717171, #232323);
  background-image: -ms-linear-gradient(top, #717171, #232323);
  background-image: -o-linear-gradient(top, #717171, #232323);
  border: 2px solid #ddd;
  border: 2px solid #f1f1f1;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 12px #333;
  -moz-box-shadow: 0 0 12px #333;
  box-shadow: 0 0 12px #333;
}

/* IE Specific */
/* line 318, ../scss/import/_qtip.scss */
.qtip-jtools .qtip-titlebar {
  background-color: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#717171,endColorstr=#4A4A4A)";
}

/* line 323, ../scss/import/_qtip.scss */
.qtip-jtools .qtip-content {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#4A4A4A,endColorstr=#232323)";
}

/* line 329, ../scss/import/_qtip.scss */
.qtip-jtools .qtip-titlebar,
.qtip-jtools .qtip-content {
  background: transparent;
  color: white;
  border: 0 dashed transparent;
}

/* line 335, ../scss/import/_qtip.scss */
.qtip-jtools .qtip-icon {
  border-color: #555;
}

/* line 339, ../scss/import/_qtip.scss */
.qtip-jtools .qtip-titlebar .ui-state-hover {
  border-color: #333;
}

/* Cluetip style */
/* line 345, ../scss/import/_qtip.scss */
.qtip-cluetip {
  -webkit-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
  background-color: #D9D9C2;
  color: #111;
  border: 0 dashed transparent;
}

/* line 355, ../scss/import/_qtip.scss */
.qtip-cluetip .qtip-titlebar {
  background-color: #87876A;
  color: white;
  border: 0 dashed transparent;
}

/* line 361, ../scss/import/_qtip.scss */
.qtip-cluetip .qtip-icon {
  border-color: #808064;
}

/* line 365, ../scss/import/_qtip.scss */
.qtip-cluetip .qtip-titlebar .ui-state-hover {
  border-color: #696952;
  color: #696952;
}

/* Tipsy style */
/* line 372, ../scss/import/_qtip.scss */
.qtip-tipsy {
  background: black;
  background: rgba(0, 0, 0, 0.87);
  color: white;
  border: 0 solid transparent;
  font-size: 11px;
  font-family: 'Lucida Grande', sans-serif;
  font-weight: bold;
  line-height: 16px;
  text-shadow: 0 1px black;
}

/* line 386, ../scss/import/_qtip.scss */
.qtip-tipsy .qtip-titlebar {
  padding: 6px 35px 0 10px;
  background-color: transparent;
}

/* line 391, ../scss/import/_qtip.scss */
.qtip-tipsy .qtip-content {
  padding: 6px 10px;
}

/* line 395, ../scss/import/_qtip.scss */
.qtip-tipsy .qtip-icon {
  border-color: #222;
  text-shadow: none;
}

/* line 400, ../scss/import/_qtip.scss */
.qtip-tipsy .qtip-titlebar .ui-state-hover {
  border-color: #303030;
}

/* Tipped style */
/* line 406, ../scss/import/_qtip.scss */
.qtip-tipped {
  border: 3px solid #959FA9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #F9F9F9;
  color: #454545;
  font-weight: normal;
  font-family: serif;
}

/* line 420, ../scss/import/_qtip.scss */
.qtip-tipped .qtip-titlebar {
  border-bottom-width: 0;
  color: white;
  background: #3A79B8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3a79b8), to(#2e629d));
  background-image: -webkit-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -moz-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -ms-linear-gradient(top, #3a79b8, #2e629d);
  background-image: -o-linear-gradient(top, #3a79b8, #2e629d);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#3A79B8,endColorstr=#2E629D)";
}

/* line 434, ../scss/import/_qtip.scss */
.qtip-tipped .qtip-icon {
  border: 2px solid #285589;
  background: #285589;
}

/* line 439, ../scss/import/_qtip.scss */
.qtip-tipped .qtip-icon .ui-icon {
  background-color: #FBFBFB;
  color: #555;
}

/**
 * Twitter Bootstrap style.
 *
 * Tested with IE 8, IE 9, Chrome 18, Firefox 9, Opera 11.
 * Does not work with IE 7.
 */
/* line 451, ../scss/import/_qtip.scss */
.qtip-bootstrap {
  /** Taken from Bootstrap body */
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  /** Taken from Bootstrap .popover */
  padding: 1px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 473, ../scss/import/_qtip.scss */
.qtip-bootstrap .qtip-titlebar {
  /** Taken from Bootstrap .popover-title */
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

/* line 487, ../scss/import/_qtip.scss */
.qtip-bootstrap .qtip-titlebar .qtip-close {
  /**
   * Overrides qTip2:
   * .qtip-titlebar .qtip-close{
   *   [...]
   *   right: 4px;
   *   top: 50%;
   *   [...]
   *   border-style: solid;
   * }
   */
  right: 11px;
  top: 45%;
  border-style: none;
}

/* line 503, ../scss/import/_qtip.scss */
.qtip-bootstrap .qtip-content {
  /** Taken from Bootstrap .popover-content */
  padding: 9px 14px;
}

/* line 508, ../scss/import/_qtip.scss */
.qtip-bootstrap .qtip-icon {
  /**
   * Overrides qTip2:
   * .qtip-default .qtip-icon {
   *   border-color: #CCC;
   *   background: #F1F1F1;
   *   color: #777;
   * }
   */
  background: transparent;
}

/* line 520, ../scss/import/_qtip.scss */
.qtip-bootstrap .qtip-icon .ui-icon {
  /**
   * Overrides qTip2:
   * .qtip-icon .ui-icon{
   *   width: 18px;
   *   height: 14px;
   * }
   */
  width: auto;
  height: auto;
  /* Taken from Bootstrap .close */
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 18px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
}

/* line 542, ../scss/import/_qtip.scss */
.qtip-bootstrap .qtip-icon .ui-icon:hover {
  /* Taken from Bootstrap .close:hover */
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

/* IE9 fix - removes all filters */
/* line 554, ../scss/import/_qtip.scss */
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar {
  filter: none;
  -ms-filter: none;
}

/*------------------------------------*\
    LAYOUT/LAYOUT.SCSS
\*------------------------------------*/
/*------------------------------------*\
    LAYOUT/PAGE.SCSS
\*------------------------------------*/
/* line 5, ../scss/layout/_page.scss */
.wrapper, .wrapper--site-header, .wrapper--site-footer {
  width: 100%;
}

/* line 9, ../scss/layout/_page.scss */
.wrapper--site-header {
  background-color: #755190;
}

/* line 14, ../scss/layout/_page.scss */
.wrapper--site-footer {
  background-color: #ececec;
  border-top: 1px solid #b5bcbc;
}

/* line 20, ../scss/layout/_page.scss */
.page-constrained, .site-header, .site-content, .site-footer {
  margin: 0 auto;
  padding: 20px;
  max-width: 1025px;
}
@media only screen and (max-width: 767px) {
  /* line 20, ../scss/layout/_page.scss */
  .page-constrained, .site-header, .site-content, .site-footer {
    padding: 8px;
  }
}

/**
 * Site areas
 */
/* line 33, ../scss/layout/_page.scss */
.site-header {
  padding-bottom: 60px;
}
@media only screen and (max-width: 767px) {
  /* line 33, ../scss/layout/_page.scss */
  .site-header {
    padding-bottom: 8px;
  }
}

/* line 42, ../scss/layout/_page.scss */
.site-content {
  position: relative;
  top: -40px;
  background-color: #e0ded3;
}
@media only screen and (max-width: 767px) {
  /* line 42, ../scss/layout/_page.scss */
  .site-content {
    top: 0;
  }
}

/**
 * Columns
 */
/* line 61, ../scss/layout/_page.scss */
.column, .column-left, .column-right {
  width: 50%;
  float: left;
}
@media only screen and (max-width: 767px) {
  /* line 61, ../scss/layout/_page.scss */
  .column, .column-left, .column-right {
    width: 100%;
  }
}

/* line 73, ../scss/layout/_page.scss */
.column-right {
  padding-left: 20px;
}
@media only screen and (max-width: 767px) {
  /* line 73, ../scss/layout/_page.scss */
  .column-right {
    margin-top: 20px;
    padding-left: 0;
  }
}

/*------------------------------------*\
  MODULE/MODULE.SCSS
\*------------------------------------*/
/*------------------------------------*\
    MODULE/CAPTION.SCSS
\*------------------------------------*/
/* line 6, ../scss/module/_caption.scss */
.caption, .hero__caption {
  padding: 6.4px;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;
  text-align: center;
}
@media only screen and (max-width: 767px) {
  /* line 6, ../scss/module/_caption.scss */
  .caption, .hero__caption {
    position: relative;
    left: 0;
    right: 0;
    top: -20px;
  }
}

/*------------------------------------*\
    MODULE/HERO.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_hero.scss */
.hero {
  width: 100%;
  position: relative;
  padding-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  /* line 5, ../scss/module/_hero.scss */
  .hero {
    padding-bottom: 0;
    margin-bottom: -20px;
  }
}

/* line 15, ../scss/module/_hero.scss */
.hero__caption {
  background-color: #755190;
}

/* line 22, ../scss/module/_hero.scss */
.hero__image {
  height: 490px;
  overflow: hidden;
}
/* line 25, ../scss/module/_hero.scss */
.hero__image img {
  width: 100%;
}

/*------------------------------------*\
    MODULE/TILE.SCSS
\*------------------------------------*/
/* line 8, ../scss/module/_tile.scss */
.tile-wrapper, .more-shows, .past-work-shows {
  margin: 0;
  margin-left: -20px;
  padding: 20px 0;
}
@media only screen and (max-width: 767px) {
  /* line 8, ../scss/module/_tile.scss */
  .tile-wrapper, .more-shows, .past-work-shows {
    margin: 0;
    padding: 8px 0;
  }
}

/* line 19, ../scss/module/_tile.scss */
.tile {
  margin: 0;
  padding: 0;
  width: 33.33333%;
  padding-left: 20px;
  margin-bottom: 20px;
  float: left;
  position: relative;
}
@media only screen and (max-width: 767px) {
  /* line 19, ../scss/module/_tile.scss */
  .tile {
    float: none;
    padding-left: 0;
    margin-bottom: 8px;
    width: 100%;
    height: 64px;
    background-color: #755190;
  }
}

/* line 38, ../scss/module/_tile.scss */
.tile__caption {
  position: absolute;
  left: 20px;
  right: 0;
  bottom: 0;
  padding: 6.4px;
  background-color: #755190;
}
@media only screen and (max-width: 767px) {
  /* line 38, ../scss/module/_tile.scss */
  .tile__caption {
    float: left;
    width: 70%;
    position: static;
  }
}

/* line 57, ../scss/module/_tile.scss */
.tile__hidden {
  font-weight: 100;
}

/* line 63, ../scss/module/_tile.scss */
.tile__image {
  width: 100%;
}
@media only screen and (max-width: 767px) {
  /* line 63, ../scss/module/_tile.scss */
  .tile__image {
    float: left;
    width: 30%;
    height: 64px;
    background-size: cover;
  }
}

/*------------------------------------*\
    MODULE/CAL-BAR.SCSS
\*------------------------------------*/
/* line 7, ../scss/module/_cal-bar.scss */
.cal-bar {
  padding: 20px 0;
  margin-left: -10px;
  width: 100%;
}

/* line 14, ../scss/module/_cal-bar.scss */
.cal-bar__item, .cal-bar__month, .cal-bar__date {
  margin-bottom: 5px;
  padding: 0 10px;
  float: left;
}

/* line 25, ../scss/module/_cal-bar.scss */
.cal-bar__date {
  border-right: 1px solid #252525;
}

/*------------------------------------*\
    MODULE/LOGO.SCSS
\*------------------------------------*/
/* line 9, ../scss/module/_logo.scss */
.logo-header {
  float: left;
}
@media only screen and (max-width: 767px) {
  /* line 9, ../scss/module/_logo.scss */
  .logo-header {
    width: 15%;
  }
}

/* line 16, ../scss/module/_logo.scss */
.logo-footer {
  float: left;
}

/*------------------------------------*\
    MODULES/MEDIA.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_media.scss */
.media {
  float: left;
  width: 100%/3;
}
/* line 8, ../scss/module/_media.scss */
.media:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-size: cover;
}

/*------------------------------------*\
    MODULE/COPY.SCSS
\*------------------------------------*/
/* line 20, ../scss/module/_copy.scss */
.copy-blockquote, .copy blockquote, .show-title blockquote, .show-text blockquote, .whats-on-detail blockquote, .show-review blockquote {
  margin: 0;
  padding: 20px 8px 8px 8px;
  font-style: italic;
}

/* line 28, ../scss/module/_copy.scss */
.copy-p, .copy p, .show-title p, .show-text p, .whats-on-detail p {
  margin: 0;
  padding: 0 0 8px 0;
  line-height: 1.8em;
}

/*------------------------------------*\
    MODULE/NAV.SCSS
\*------------------------------------*/
/* line 8, ../scss/module/_nav.scss */
.nav-main ul li a, .nav-main--menu ul li a, .nav-main--footer ul li a, .nav-main--hamburger ul li a {
  text-decoration: none;
}
/* line 12, ../scss/module/_nav.scss */
.nav-main ul li a:hover, .nav-main--menu ul li a:hover, .nav-main--footer ul li a:hover, .nav-main--hamburger ul li a:hover {
  color: #b5bcbc;
}

/* line 20, ../scss/module/_nav.scss */
.nav-main--menu {
  position: relative;
  top: 42px;
  float: right;
}
@media only screen and (max-width: 767px) {
  /* line 20, ../scss/module/_nav.scss */
  .nav-main--menu {
    top: 5px;
    display: none;
  }
}
/* line 30, ../scss/module/_nav.scss */
.nav-main--menu ul li {
  padding-left: 20px;
  float: left;
}

/* line 40, ../scss/module/_nav.scss */
.nav-main--footer {
  display: block;
  float: left;
  width: 75%;
  padding: 20px 0;
}
/* line 47, ../scss/module/_nav.scss */
.nav-main--footer ul li {
  padding-right: 20px;
  float: left;
}
/* line 50, ../scss/module/_nav.scss */
.nav-main--footer ul li a {
  color: #7f8c8d;
}

/* line 58, ../scss/module/_nav.scss */
.nav-main--hamburger {
  display: none;
  color: white;
  font-size: 32px;
}
@media only screen and (max-width: 767px) {
  /* line 58, ../scss/module/_nav.scss */
  .nav-main--hamburger {
    display: block;
  }
}

/*------------------------------------*\
    MODULE/MORE-SHOWS.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_more-shows.scss */
.more-shows {
  padding-bottom: 0;
}

/*------------------------------------*\
    MODULE/WHATS-ON-WIDGET.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_whats-on-widget.scss */
.whats-on-widget {
  width: 100%;
  background-color: #ececec;
  padding: 20px;
  padding-bottom: 10px;
}

/*------------------------------------*\
    MODULE/TWITTER.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_twitter.scss */
.twitter, .show-twitter {
  background-color: #ececec;
  padding: 20px;
}

/* line 10, ../scss/module/_twitter.scss */
.twitter-link, .show-twitter-link {
  display: block;
  padding-bottom: 8px;
}
/* line 14, ../scss/module/_twitter.scss */
.twitter-link a, .show-twitter-link a {
  text-decoration: none;
}
/* line 17, ../scss/module/_twitter.scss */
.twitter-link a img, .show-twitter-link a img {
  position: relative;
  top: 3px;
  width: 25px;
}
/* line 22, ../scss/module/_twitter.scss */
.twitter-link a:hover, .show-twitter-link a:hover {
  color: #111111;
}

/* line 28, ../scss/module/_twitter.scss */
.show-twitter {
  background: white;
  padding: 20px;
  padding-top: 36px;
}

/*------------------------------------*\
    MODULE/PHOTO-GRID.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_photo-grid.scss */
.photo-grid {
  background-color: #ececec;
  padding: 20px;
}
/* line 11, ../scss/module/_photo-grid.scss */
.photo-grid .afg-cell {
  float: left;
  text-align: center;
}
/* line 14, ../scss/module/_photo-grid.scss */
.photo-grid .afg-cell img {
  width: 210px;
}

/*------------------------------------*\
    MODULE/FOOTER.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_footer.scss */
.footer-head {
  padding-bottom: 20px;
  border-bottom: 1px solid #b5bcbc;
  color: #7f8c8d;
}

/* line 12, ../scss/module/_footer.scss */
.footer-body {
  padding-top: 20px;
}

/* line 17, ../scss/module/_footer.scss */
.footer-strapline {
  width: 40%;
  float: left;
  padding-left: 36px;
}

/* line 24, ../scss/module/_footer.scss */
.footer-social {
  float: right;
  padding-top: 36px;
}
/* line 28, ../scss/module/_footer.scss */
.footer-social img {
  height: 20px;
  padding-left: 8px;
}
/* line 33, ../scss/module/_footer.scss */
.footer-social a:hover img {
  opacity: 0.8;
}

/* line 41, ../scss/module/_footer.scss */
.footer-newsletter {
  width: 25%;
  float: right;
  position: relative;
  top: -20px;
}
/* line 55, ../scss/module/_footer.scss */
.footer-newsletter .sml_email, .footer-newsletter .sml_submit {
  display: block;
  float: left;
}
/* line 60, ../scss/module/_footer.scss */
.footer-newsletter .sml_email, .footer-newsletter .sml_emailinput {
  width: 160px;
}
/* line 64, ../scss/module/_footer.scss */
.footer-newsletter .sml_submit {
  width: 70px;
  float: right;
}
/* line 69, ../scss/module/_footer.scss */
.footer-newsletter input[type="submit"] {
  width: 70px;
  position: relative;
  top: 22px;
}
/* line 76, ../scss/module/_footer.scss */
.footer-newsletter .sml_thankyou {
  position: absolute;
  background: #ececec;
}

/*------------------------------------*\
    MODULE/FLUIDBOX.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_fluidbox.scss */
.fluidbox {
  outline: none;
}

/* line 8, ../scss/module/_fluidbox.scss */
.hidden, .tile__hidden {
  display: none;
}

/* line 11, ../scss/module/_fluidbox.scss */
.fluidbox-overlay {
  background-color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all .25s ease-in-out;
}

/* line 24, ../scss/module/_fluidbox.scss */
.fluidbox-wrap {
  background-position: center center;
  background-size: cover;
  margin: 0 auto;
  position: relative;
  transition: all .25s ease-in-out;
}

/* line 31, ../scss/module/_fluidbox.scss */
.fluidbox-ghost {
  background-size: cover;
  background-position: center center;
  position: absolute;
  transition: all .25s ease-in-out;
}

/* line 37, ../scss/module/_fluidbox.scss */
.fluidbox-closed .fluidbox-ghost {
  -webkit-transition-property: top, left, opacity, -webkit-transform;
  -moz-transition-property: top, left, opacity, -moz-transform;
  -o-transition-property: top, left, opacity, -o-transform;
  transition-property: top, left, opacity, transform;
  transition-delay: 0, 0, .25s, 0;
}

/* line 44, ../scss/module/_fluidbox.scss */
.fluidbox-closed .fluidbox-wrap img {
  transition-property: opacity;
  transition-delay: .25s;
  transition-duration: 0s;
}

/*------------------------------------*\
    MODULE/MONTH-VIEW.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_month-view.scss */
.month-view {
  width: 100%;
  margin: 36px auto;
}
/* line 15, ../scss/module/_month-view.scss */
.month-view th {
  color: #252525;
}
/* line 21, ../scss/module/_month-view.scss */
.month-view td {
  text-align: center;
  height: 30px;
  width: 14.2%;
}

/* line 28, ../scss/module/_month-view.scss */
.month-view-event {
  display: inline-block;
}

/* line 32, ../scss/module/_month-view.scss */
.month-view-thumbnail {
  display: inline-block;
  border-radius: 50%;
  background-size: cover;
  width: 40px;
  height: 40px;
}
/* line 38, ../scss/module/_month-view.scss */
.month-view-thumbnail:hover {
  opacity: 0.6;
  cursor: pointer;
}

/* Page Areas */
/*------------------------------------*\
    MODULE/HOME.SCSS
\*------------------------------------*/
/*------------------------------------*\
    MODULE/SHOW.SCSS
\*------------------------------------*/
/* line 7, ../scss/module/_show.scss */
.show-head .show-head-left, .show-head .show-head-right {
  float: left;
}
/* line 10, ../scss/module/_show.scss */
.show-head .show-head-left {
  width: 30%;
  padding-right: 20px;
}
/* line 14, ../scss/module/_show.scss */
.show-head .show-head-right {
  width: 70%;
}

/* line 19, ../scss/module/_show.scss */
.show-body {
  padding-top: 20px;
}
/* line 22, ../scss/module/_show.scss */
.show-body .show-body-left, .show-body .show-body-right {
  float: left;
}
/* line 25, ../scss/module/_show.scss */
.show-body .show-body-left {
  width: 50%;
  padding-right: 20px;
}
/* line 29, ../scss/module/_show.scss */
.show-body .show-body-right {
  width: 50%;
}

/* line 34, ../scss/module/_show.scss */
.tribe-events-ajax-loading {
  display: none;
}

/* line 40, ../scss/module/_show.scss */
.show-title h1, .show-title h2, .show-title h3, .show-title h4, .show-title h5, .show-title h6 {
  padding-bottom: 8px;
}

/* line 46, ../scss/module/_show.scss */
.show-image {
  width: 100%;
}

/* line 50, ../scss/module/_show.scss */
.show-dates {
  border-top: thin #111111 solid;
  border-bottom: thin #111111 solid;
  padding: 8px 0;
}

/* line 58, ../scss/module/_show.scss */
.show-stars {
  color: #755190;
  margin: 0;
  padding: 8px 0 0 0;
}

/* line 65, ../scss/module/_show.scss */
.show-review {
  padding-top: 8px;
}
/* line 68, ../scss/module/_show.scss */
.show-review p {
  margin: 0;
  padding: 0;
}

/* line 81, ../scss/module/_show.scss */
.show-ticketshop-link a {
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 20px;
  background-color: #755190;
}

/* line 92, ../scss/module/_show.scss */
.show-thumbnails {
  padding: 20px 0;
}
/* line 95, ../scss/module/_show.scss */
.show-thumbnails a {
  display: block;
  float: left;
  width: 32%;
  margin-left: 2%;
}
/* line 100, ../scss/module/_show.scss */
.show-thumbnails a img {
  background: white;
  padding: 5px;
  width: 100%;
}
/* line 106, ../scss/module/_show.scss */
.show-thumbnails a:first-child {
  margin-left: 0;
}

/*------------------------------------*\
    MODULE/WHATS-ON.SCSS
\*------------------------------------*/
/* line 9, ../scss/module/_whats-on.scss */
.whats-on-list {
  margin: 0;
  padding: 0;
}

/* line 15, ../scss/module/_whats-on.scss */
.whats-on-single {
  float: left;
  margin: 0;
  padding: 0 10px 0 0;
  width: 50%;
}
/* line 20, ../scss/module/_whats-on.scss */
.whats-on-single a {
  display: block;
  padding: 8px;
  text-decoration: none;
}
/* line 24, ../scss/module/_whats-on.scss */
.whats-on-single a:hover {
  background-color: white;
}

/* line 30, ../scss/module/_whats-on.scss */
.whats-on-single:nth-of-type(2n) {
  padding-right: 0;
  padding-left: 10px;
}

/* line 35, ../scss/module/_whats-on.scss */
.whats-on-image {
  width: 100%;
  overflow: hidden;
}

/* line 43, ../scss/module/_whats-on.scss */
.whats-on-detail h3 {
  color: #676767;
}

/*------------------------------------*\
    MODULE/PAST-WORK.SCSS
\*------------------------------------*/
/* line 12, ../scss/module/_past-work.scss */
.past-work-year {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #252525 1px dotted;
}

/* line 23, ../scss/module/_past-work.scss */
.past-work-shows {
  padding-top: 0;
}
/* line 26, ../scss/module/_past-work.scss */
.past-work-shows li {
  padding-bottom: 20px;
}

/*------------------------------------*\
    MODULE/TICKETS.SCSS
\*------------------------------------*/
/*------------------------------------*\
    MODULE/JOBS.SCSS
\*------------------------------------*/
/* line 9, ../scss/module/_jobs.scss */
.jobs-page__intro {
  margin-bottom: 36px;
}

/* line 13, ../scss/module/_jobs.scss */
.jobs-list {
  margin: 36px 72px;
}

/* line 17, ../scss/module/_jobs.scss */
.jobs__rate, .jobs__dates {
  text-transform: uppercase;
  color: #252525;
}

/* line 24, ../scss/module/_jobs.scss */
.jobs__application-deadline {
  font-style: italic;
  margin: 0 0 20px 0;
  padding: 0;
}

/* line 30, ../scss/module/_jobs.scss */
.jobs__description {
  margin: 0;
  padding: 0;
}

/* line 35, ../scss/module/_jobs.scss */
.jobs-list__single {
  border-bottom: dotted thin #252525;
  margin-bottom: 72px;
}

/*------------------------------------*\
    MODULE/JOBS.SCSS
\*------------------------------------*/
/* line 9, ../scss/module/_news.scss */
.news-list {
  margin: 36px 72px;
}

/* line 13, ../scss/module/_news.scss */
.news-item {
  border-bottom: thin dashed #252525;
  margin-bottom: 20px;
}

/* line 18, ../scss/module/_news.scss */
.news-item__header {
  text-decoration: underline;
  margin-top: 20px;
  padding: 0;
  display: block;
  color: #252525;
}
/* line 26, ../scss/module/_news.scss */
.news-item__header:hover {
  color: #676767;
}

/* line 31, ../scss/module/_news.scss */
.news-item__read-more {
  color: #252525;
}

/* NEWS FLASH WIDGET */
/* line 38, ../scss/module/_news.scss */
.news-flash {
  margin-bottom: 20px;
  padding: 20px;
  background: #ececec;
}

/* line 48, ../scss/module/_news.scss */
.news-item-meta {
  text-transform: uppercase;
  color: #333333;
}

/*------------------------------------*\
    MODULE/PEOPLE.SCSS
\*------------------------------------*/
/* line 7, ../scss/module/_people.scss */
.people-page__header p {
  margin-top: 0;
}
/* line 10, ../scss/module/_people.scss */
.people-page__header p a {
  display: inline-block;
  padding-right: 8px;
}

/* line 17, ../scss/module/_people.scss */
.people-section {
  margin: 20px 0;
  border-bottom: thin dashed #252525;
}

/* line 22, ../scss/module/_people.scss */
.people-list {
  margin: 36px 72px;
}

/* line 26, ../scss/module/_people.scss */
.people-single {
  margin-bottom: 20px;
}

/* line 31, ../scss/module/_people.scss */
.people-single__image {
  float: left;
  display: block;
  background-size: cover;
  border-radius: 50%;
  width: 12%;
  height: 100px;
  margin: 0 20px 20px 0;
}

/* line 44, ../scss/module/_people.scss */
.people-right {
  float: left;
  width: 85%;
}

/*------------------------------------*\
    MODULE/WYSIWYG.SCSS
\*------------------------------------*/
/* line 5, ../scss/module/_wysiwyg.scss */
.wysiwyg-content {
  margin: 36px 72px;
}
