/*------------------------------------*\
    BASE/ELEMENTS.SCSS
\*------------------------------------*/

body {
    background-color: $tan;
    font-size: $font-size;
}

hr {
    margin:0;
    border:0;
    width: 100%;
    height: 1px;
    color: $steel;
    background-color: $steel-light;
    @include breakpoint(mob) { display: none; }
}
