/*------------------------------------*\
    BASE/VARS
\*------------------------------------*/

/**
 * Colour Variables
 */
$tan: #e0ded3;
$grey-light: #676767;
$grey-mid: #333;
$grey: #252525;
$red: #d95b43;
$white: #fff;
$off-white: #ececec;
$steel: #7f8c8d;
$steel-light: #b5bcbc;

/**
 * Font Variables
 */
$font-size: 16px;

/**
 * Size Variables
 */
$base-unit: $font-size;
$site-max-width: 1025px;

/**
 * Spacing Variables
 */
$gutter-std: $base-unit*1.25;