/*------------------------------------*\
    MODULES/MEDIA.SCSS
\*------------------------------------*/

.media {
    float: left;
    width: 100%/3;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        background-size:cover;
    }
}
