/*------------------------------------*\
    MODULE/CALENDAR.SCSS
\*------------------------------------*/

.calendar {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 20px;
    box-sizing: border-box;
    overflow:auto;
    background-color: $off-white;
    color: $grey;
    h4 {
        letter-spacing: 0em;
        line-height: 1.6em;
    }
}

.red {
    color: $off-white;
    font-style: normal;
    background-color: $red;
    border-radius: 50px;
    padding: 5px;
}

.calendar--compact__month--1, .calendar--compact__month--2 {
    padding:10px 0 0 0;
    float: left;
    @include breakpoint(mob) {
        padding:20px 0 0 0;     
    }
}

.a-dates {
    text-decoration:none;
    color:$off-white;
}

.calendar__heading {
    @extend .font-heading;
    font: {
        weight: 700;
        size: 2.4375em;
    }
    @include breakpoint(tab) { font-size: 2em; }
    @include breakpoint(mob) { font-size: 2em; }
}

.calendar--compact {}

.calendar--full {}

.calendar--font {
    font: {
        family: 'Montserrat', sans;
        size: 1.375em;
    }
    @include breakpoint(tab) {
        font-size: 1.09em;
    }
    @include breakpoint(mob) {
        font-size: 1.09em;
    }
}
