/*------------------------------------*\
    MODULE/CAPTION.SCSS
\*------------------------------------*/

.caption {
    padding: 0.5em;
    position: absolute;
    left: $base-unit;
    right: $base-unit;
    // bottom: 0.2*$base-unit;
    bottom: 0;
    text-align: center;
}

