/*------------------------------------*\
    MODULE/COPYRIGHT.SCSS
\*------------------------------------*/

.copyright {
    text-align: right;
    position: absolute;
    right:0px;
    top:190px;
    @include breakpoint(mob) {
        left: 1.25em;
        text-align: left;
    }   
}

.copyright__header {
    font: {
        family: 'Open Sans', sans;
        size: 0.875em;
        weight: 300;
    }
}
