/*------------------------------------*\
    MODULE/SOCIAL-BUTTONS.SCSS
\*------------------------------------*/


.social-buttons {
    position:absolute;
    top:50px;
    right:0;
    padding-right: 1.25em;
    @include breakpoint(mob) {
        left: 1.25em;
        text-align: left;
        top: 160px;
    }
    h5 {
        a {
            color: $steel;
            text-decoration: none;
        }
    } 
}
