/*------------------------------------*\
    MODULE/SOCIAL.SCSS
\*------------------------------------*/

.social {
    @include breakpoint(mob) {
        display:none;
    }
    padding: 20px 0 0 0;
    width:100%;
    overflow:auto;
}

.twitter-timeline {
    background-color: $grey-mid;
}

.social--twitter {
    float:left;
    width:470px;
    padding-right:20px;
    @include breakpoint(tab) {
        width:374px;
    }
}

