/*------------------------------------*\
    BASE/VARS
\*------------------------------------*/

/**
 * SETTINGS
 */
$modern-browser: true;

/**
 * Colour Variables
 */
$tan: #e0ded3;
$grey-light: #676767;
$grey-mid: #333;
$grey: #252525;
// $clr-primary: #d95b43;
$clr-primary: #755190;
$white: #fff;
$off-white: #ececec;
$steel: #7f8c8d;
$steel-light: #b5bcbc;
$black: #111;
$black-body: #333;


/**
 * Size Variables
 */
$base-unit: 16px;
$site-max-width: 1025px;


/**
 * Font Variables
 */
$font-size: $base-unit;
$font-size--tab: 0.9;
$font-size--mob: 0.8;


/**
 * Spacing Variables
 */
$gutter-lrg: $base-unit*2.25;
$gutter-med: $base-unit*1.25;
$gutter-sml: $base-unit*0.5;
$gutter-caption: $base-unit*0.4;
